# Build artifacts
target/

# Compiled Kaubo bytecode
*.kaubod
*.kaubor
*.kauboc

# Windows
*.exe
*.pdb
*.dll

# macOS
.DS_Store

# Linux
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo

# Profiling / coverage
*.profraw
*.profdata

# Misc
assets
*.tmp
results/
__pycache__/
*.pyc
